<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
metadata-complete="false" 
version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>BaseControl</servlet-name>
  
  
  	<servlet-class>com.weikun.control.BaseControl</servlet-class>
  </servlet>
 
  
  <servlet>
  	<servlet-name>UserControl</servlet-name>
  
  	<servlet-class>com.weikun.control.UserControl</servlet-class>
  	<init-param>
  		<param-name>first</param-name>
  		<param-value>first.jsp</param-value>
  	</init-param>
  	<init-param>
  		<param-name>second</param-name>
  		<param-value>second.jsp</param-value>
  	</init-param>
  </servlet>
  
  
   <servlet-mapping>
  	<servlet-name>BaseControl</servlet-name>
  	<url-pattern>/BaseControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>  
  	<servlet-name>UserControl</servlet-name>
  	<url-pattern>/UserControl</url-pattern>
  </servlet-mapping>
</web-app>
